@import "bourbon/bourbon";

/* Third Scene */
.scene-third {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #000025;
  @include transform(scale(0));
  @include animation(scene-third-center-zoom-out 1.5s linear 60s forwards);

  section {
    position: absolute;
    top: 0;
    height: 80%;
    width: 100%;
  }
  .snow-ground {
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    background-color: #FFF;
  }

  .jackalope {
    position: absolute;
    left: -25px;
    bottom: 0;
    height: 50px;
    width: 50px;
    background-color: #C6886A;
    @include transform(translateX(-50%));
    @include animation(jackalope-run 4s linear 61.5s forwards);

    .left-eye {
      top: 10px;
      left: 20px;
      @include transform(scale(1,1.6));
      @include animation(eye-blink 3s linear 61.5s infinite);
    }
    .right-eye {
      top: 10px;
      left: 30px;
      @include transform(scale(1,1.6));
      @include animation(eye-blink 3s linear 61.5s infinite);
    }
  }
  .jackalope.shadow {
    @include transform-origin(bottom);
    @include transform(translateX(-50%) scaleY(-1));
    opacity: 0.3;
    z-index: 1;
  }

  .snow-ball {
    position: absolute;
    bottom: 100%;
    left: 50%;
    height: 40px;
    width: 40px;
    background-color: #C5C5C5;
    border-radius: 50%;
    @include transform-origin(bottom);
    @include transform(translateX(-50%));
    @include animation(snow-ball-fall 1s ease-in 65s forwards);
  }
  .snow-ball.reflect {
    bottom: -100%;
    opacity: 0.3;
    z-index: 1;
    @include transform(translateX(-50%) scaleY(-1));
    @include animation(snow-ball-fall-reflect 1s ease-in 65s forwards);
  }
}

@include keyframes(scene-third-center-zoom-out) {
  0% {
    @include transform(scale(0));
    border-radius: 50%;
  }
  80% {
    @include transform(scale(1));
    border-radius: 50%;
  }
  100% {
    @include transform(scale(1));
    border-radius: 0;
  }
}
@include keyframes(jackalope-run) {
  0% { left: -25px; }
  100% { left: 50%; }
}
@include keyframes(snow-ball-fall) {
  0% {
    bottom: 100%;
    @include transform(translate(-50%, 0) scale(1));
  }
  100% {
    bottom: -50px;
    @include transform(translate(-50%, 0) scale(4));
  }
}
@include keyframes(snow-ball-fall-reflect) {
  0% {
    bottom: -100%;
    @include transform(translate(-50%, 0) scale(-1));
  }
  100% {
    bottom: 50px;
    @include transform(translate(-50%, 0) scale(-4));
  }
}