@import "bourbon/bourbon";

/* First Scene */
.scene-first {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  @include animation(
      fadeOut .5s linear 28.5s forwards,
      fadeIn .1s linear 114s forwards);
}
.scene-first {
  section {
    position: absolute;
    top: 0;
    height: 80%;
    width: 100%;
  }

  .flower-wrapper {
    top: 0;
    background-color: #FAE0E4;
    @include animation(
        slideDown .8s linear 21s forwards,
        slideUpCenter .8s linear 100s forwards,
        slideDown .8s linear 114s forwards);
  }

  .tree-wrapper {
    background-color: #E0FAE3;
    @include transform(translateY(-100%));
    @include animation(
        slideDownCenter .8s linear 21s forwards,
        slideUp .8s linear 100s forwards,
        slideDownCenter .8s linear 114s forwards);
  }

  .cat-wrapper {
    background-color: #fff176;
    @include transform(translateX(100%));
    @include animation(
        slideLeft .5s ease-out 26s forwards,
        slideRight .1s linear 100s forwards,
        slideLeft .5s ease-out 119s forwards);
  }

  .ground {
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    background-color: #A67C52;
  }

  .ground:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%; /* 80px */
    @include background(
        linear-gradient(-25deg, #A67C52 30%, transparent 30%),
        linear-gradient(25deg, #A67C52 30%, transparent 30%),
        linear-gradient(-25deg, transparent 30%, #8B6138 30%, #8B6138 60%, transparent 60%),
        linear-gradient(25deg, transparent 30%, #8B6138 30%, #8B6138 60%, transparent 60%));
    background-size: 100px 72px;
  }
  .grass {
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: #8DC63F;
  }
  .grass:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 10px;
    @include background(
        linear-gradient(-45deg, transparent 66.6%, #8DC63F 66.67%),
        linear-gradient(45deg, transparent 66.6%, #8DC63F 66.67%));
    background-size: 15px 10px;
  }

  /* Flower Animation */
  .flower {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 100px;
    width: 60px;
    background: url('../img/flower.png') 0px;
    @include transform(translateX(-50%));
    @include animation(sprite-flower .5s 1s infinite);
  }
  .flower  {
    .left-eye {
      top: 29px;
      left: 22px;
    }
    .right-eye {
      top: 29px;
      left: 34px;
    }
  }
  .bubble {
    position: absolute;
    background: #FFF;
    border-radius: 50%;
    opacity: 0;
    @include transform(translateX(-50%));
  }
  .bubble1 {
    width: 40px;
    height: 40px;
    left: 45%;
    top: 50%;
    @include animation(
        fadeIn .5s steps(2) 20.1s forwards,
        fadeOut .1s steps(2) 28.5s forwards,
        fadeIn .5s steps(2) 113.1s forwards);
  }
  .bubble2 {
    width: 60px;
    height: 60px;
    left: 40%;
    top: 33%;
    @include animation(
        fadeIn .5s steps(2) 20.5s forwards,
        fadeOut .1s steps(2) 28.5s forwards,
        fadeIn .5s steps(2) 113.5s forwards);
  }
  .bubble3 {
    width: 80px;
    height: 80px;
    left: 45%;
    top: 10%;
    @include animation(
        fadeIn .5s steps(2) 20.8s forwards,
        fadeOut .1s steps(2) 28.5s forwards,
        fadeIn .5s steps(2) 113.8s forwards);
  }
  /* Tree Animation */
  .tree {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 240px;
    width: 120px;
    background: url('../img/tree.png');
    @include transform(translateX(-50%));
  }
  .tree {
    .left-eye {
      top: 99px;
      left: 45px;
      width: 10px;
      height: 10px;
    }
    .right-eye {
      top: 99px;
      left: 69px;
      width: 10px;
      height: 10px;
    }
  }
  .wish-tree {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 150px;
    height: 150px;
    background-color: #00A513;
    border: 5px solid #095A00;
    border-radius: 50%;
    opacity: 0;
    @include transform(translateX(-50%));
  }
  .wish-tree {
    .left-eye {
      top: 54px;
      left: 59px;
      width: 10px;
      height: 10px;
    }
    .right-eye {
      top: 54px;
      left: 83px;
      width: 10px;
      height: 10px;
    }
  }
  .wish-tree1 {
    background-image: url('../img/tree-circle.png');
    @include animation(
        fadeIn .5s ease-out 22s forwards,
        fadeOut .5s ease-out 23s forwards,
        fadeIn .5s ease-out 115s forwards);
  }
  .wish-tree2 {
    background-image: url('../img/tree-triangle.png');
    @include animation(
        fadeIn .5s ease-out 23s forwards,
        fadeOut .5s ease-out 24s forwards,
        fadeIn .5s ease-out 116s forwards
    );
  }
  .wish-tree3 {
    background-image: url('../img/tree-club.png');
    @include animation(
        fadeIn .5s ease-out 24s forwards,
        fadeOut .5s ease-out 25s forwards,
        fadeIn .5s ease-out 117s forwards);
  }

  /* Cat Animation */
  .cat {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 100px;
    width: 100px;
    background-color: #FFFF00;
    @include transform(translateX(-50%));
  }
  .bee {
    position: absolute;
    left: 50%;
    bottom: 125px;
    height: 70px;
    width: 80px;
    background-image: url('../img/bee.png');
    @include transform(translate(-50%, 0) rotate(0deg) translate(-100px, 0%) rotate(0deg));
    @include animation(
        bee-wander 1.5s linear 26.5s forwards,
        bee-wander 1.5s linear 119.5s forwards);
  }
  .bee {
    .left-eye {
      top: 39px;
      left: 56px;
    }
    .right-eye {
      top: 39px;
      left: 68px;
    }
  }
}

@include keyframes(fadeIn) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@include keyframes(fadeOut) {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@include keyframes(slideInFromCenter) {
  0% { width: 0%; }
  100% { width: 100%; }
}
@include keyframes(slideDown) {
  100% { @include transform(translateY(100%)); }
}
@include keyframes(slideUp ) {
  100% { @include transform(translateY(-100%)); }
}
@include keyframes(slideDownCenter) {
  100% { @include transform(translateY(0%)); }
}
@include keyframes(slideUpCenter) {
  100% { @include transform(translateY(0%)); }
}
@include keyframes(slideLeft) {
  100% { @include transform(translateX(0%)); }
}
@include keyframes(slideRight) {
  100% { @include transform(translateX(100%)); }
}
@include keyframes(bee-wander) {
  0% { @include transform(translate(-50%, 0) rotate(0deg) translate(-100px, 0%) rotate(0deg)); }
  100% { @include transform(translate(-50%, 0) rotate(180deg) translate(-100px, 0%) rotate(-180deg)); }
}
@include keyframes(bee-wander-backup) {
  0% { @include transform(rotate(0deg) translate(100px, 0%) rotate(0deg)); }
  25% { @include transform(rotate(90deg) translate(100px, 0%) rotate(-90deg)); }
  50% { @include transform(rotate(180deg) translate(100px, 0%) rotate(-180deg)); }
  75% { @include transform(translate(-300px, 0%) rotate(90deg) translate(-100px, 0%) rotate(-90deg)); }
  100% { @include transform(translate(-300px, 0%) rotate(180deg) translate(-100px, 0%) rotate(-180deg)); }
}