@import "bourbon/bourbon";

/* First Scene */
.scene-first {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  @include animation(
      fadeOut .5s linear 29.5s forwards,
      fadeIn .1s linear 114s forwards);

  /* Sections */
  section {
position: absolute;
  top: 0;
  height: 80%;
  width: 100%;
}
  .flower-wrapper {
    top: 0;
    background-color: #FAE0E4;
    @include animation(
        flower-wrapper-slide-down .8s linear 21s forwards,
        flower-wrapper-slide-up .8s linear 100s forwards,
        flower-wrapper-slide-down .8s linear 114s forwards);
  }
  .tree-wrapper {
    background-color: #E0FAE3;
    @include transform(translateY(-100%));
    @include animation(
        tree-wrapper-slide-down .8s linear 21s forwards,
        tree-wrapper-slide-up .8s linear 100s forwards,
        tree-wrapper-slide-down .8s linear 114s forwards);
  }
  .cat-wrapper {
    background-color: #fff176;
    @include transform(translateX(100%));
    @include animation(
        cat-wrapper-slide-left .5s ease-out 26.5s forwards,
        cat-wrapper-slide-right .1s linear 100s forwards,
        cat-wrapper-slide-left .5s ease-out 119s forwards);
  }

  /* Ground */
  .ground {
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    background-color: #A67C52;
  }
  .grass {
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: #8DC63F;
  }
  .grass:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 10px;
    @include background(
        linear-gradient(-45deg, transparent 66.6%, #8DC63F 66.67%),
        linear-gradient(45deg, transparent 66.6%, #8DC63F 66.67%));
    background-size: 15px 10px;
  }
  .earth {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%; /* Fallback (80px) */
    @include calc(height, "70% - 15px");
    @include background(
        linear-gradient(-25deg, #A67C52 30%, transparent 30%),
        linear-gradient(25deg, #A67C52 30%, transparent 30%),
        linear-gradient(-25deg, transparent 30%, #8B6138 30%, #8B6138 60%, transparent 60%),
        linear-gradient(25deg, transparent 30%, #8B6138 30%, #8B6138 60%, transparent 60%));
    background-size: 100px 72px;
  }

  /* Flower */
  .flower {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 100px;
    width: 60px;
    background: url('../img/flower.png') 0px;
    @include transform(translateX(-50%));
    @include animation(sprite-flower .5s 1s infinite);

    .left-eye {
      top: 29px;
      left: 22px;
    }
    .right-eye {
      top: 29px;
      left: 34px;
    }
  }
  .bubble {
    position: absolute;
    background: #FFF;
    border-radius: 50%;
    opacity: 0;
    @include transform(translateX(-50%));
  }
  .bubble-1 {
    width: 40px;
    height: 40px;
    left: 45%;
    top: 50%;
    @include animation(
        fadeIn .5s steps(2) 20.1s forwards,
        fadeOut .1s steps(2) 28.5s forwards,
        fadeIn .5s steps(2) 113.1s forwards);
  }
  .bubble-2 {
    width: 60px;
    height: 60px;
    left: 40%;
    top: 33%;
    @include animation(
        fadeIn .5s steps(2) 20.5s forwards,
        fadeOut .1s steps(2) 28.5s forwards,
        fadeIn .5s steps(2) 113.5s forwards);
  }
  .bubble-3 {
    width: 80px;
    height: 80px;
    left: 45%;
    top: 10%;
    @include animation(
        fadeIn .5s steps(2) 20.8s forwards,
        fadeOut .1s steps(2) 28.5s forwards,
        fadeIn .5s steps(2) 113.8s forwards);
  }

  /* Tree */
  .tree {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 240px;
    width: 120px;
    background: url('../img/tree.png');
    @include transform(translateX(-50%));

    .left-eye {
      top: 99px;
      left: 45px;
      width: 10px;
      height: 10px;
    }
    .right-eye {
      top: 99px;
      left: 69px;
      width: 10px;
      height: 10px;
    }
  }
  .wish-tree {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #00A513;
    border: 5px solid #095A00;
    border-radius: 50%;
    @include transform(translateX(-50%) scale(0));

    .left-eye {
      top: 54px;
      left: 59px;
      width: 10px;
      height: 10px;
    }
    .right-eye {
      top: 54px;
      left: 83px;
      width: 10px;
      height: 10px;
    }
  }
  .wish-tree-1 {
    top: 220px;
    left: 40%;
    background-image: url('../img/tree-circle.png');
    @include animation(
        wish-tree-in .5s ease-out 22.5s forwards,
        wish-tree-out .5s ease-out 27s forwards,
        wish-tree-in .5s ease-out 115s forwards);
  }
  .wish-tree-1 .eye {
    @include transform(scale(1,1.6));
    @include animation(eye-blink 3s linear 23s infinite);
  }
  .wish-tree-2 {
    top: 100px;
    left: 50%;
    background-image: url('../img/tree-triangle.png');
    @include animation(
        wish-tree-in .5s ease-out 23.5s forwards,
        wish-tree-out .5s ease-out 27s forwards,
        wish-tree-in .5s ease-out 116s forwards
    );
  }
  .wish-tree-2 .eye {
    @include transform(scale(1,1.6));
    @include animation(eye-blink 3s linear 24s infinite);
  }
  .wish-tree-3 {
    top: 220px;
    left: 60%;
    background-image: url('../img/tree-club.png');
    @include animation(
        wish-tree-in .5s ease-out 24.5s forwards,
        wish-tree-out .5s ease-out 27s forwards,
        wish-tree-in .5s ease-out 117s forwards);
  }
  .wish-tree-3 .eye {
    @include transform(scale(1,1.6));
    @include animation(eye-blink 3s linear 25s infinite);
  }

  /* Cat */
  .cat {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 100px;
    width: 100px;
    background-color: #FFFF00;
    @include transform(translateX(-50%));
  }
  .bee {
    position: absolute;
    left: 50%;
    bottom: 125px;
    height: 70px;
    width: 80px;
    background-image: url('../img/bee.png');
    @include transform(translate(-50%, 0) rotate(0deg) translate(-100px, 0%) rotate(0deg));
    @include animation(
        bee-wander 1.5s linear 27s forwards,
        bee-wander 1.5s linear 119.5s forwards);

    .left-eye {
      top: 39px;
      left: 56px;
    }
    .right-eye {
      top: 39px;
      left: 68px;
    }
  }
}

/* Animation Keyframes */
@include keyframes(fadeIn) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@include keyframes(fadeOut) {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@include keyframes(tree-wrapper-slide-up ) {
  100% { @include transform(translateY(-100%)); }
}
@include keyframes(tree-wrapper-slide-down) {
  100% { @include transform(translateY(0%)); }
}
@include keyframes(flower-wrapper-slide-up) {
  100% { @include transform(translateY(0%)); }
}
@include keyframes(flower-wrapper-slide-down) {
  100% { @include transform(translateY(100%)); }
}
@include keyframes(cat-wrapper-slide-left) {
  100% { @include transform(translateX(0%)); }
}
@include keyframes(cat-wrapper-slide-right) {
  100% { @include transform(translateX(100%)); }
}
@include keyframes(wish-tree-in) {
  0% { @include transform(translateX(-50%) scale(0)); }
  80% { @include transform(translateX(-50%) scale(1.2)); }
  100% { @include transform(translateX(-50%) scale(1)); }
}
@include keyframes(wish-tree-out) {
  0% { @include transform(translateX(-50%) scale(1)); }
  80% { @include transform(translateX(-50%) scale(1.2)); }
  100% { @include transform(translateX(-50%) scale(0)); }
}
@include keyframes(bee-wander) {
  0% { @include transform(translate(-50%, 0) rotate(0deg) translate(-100px, 0%) rotate(0deg)); }
  100% { @include transform(translate(-50%, 0) rotate(180deg) translate(-100px, 0%) rotate(-180deg)); }
}
@include keyframes(bee-wander-backup) {
  0% { @include transform(rotate(0deg) translate(100px, 0%) rotate(0deg)); }
  25% { @include transform(rotate(90deg) translate(100px, 0%) rotate(-90deg)); }
  50% { @include transform(rotate(180deg) translate(100px, 0%) rotate(-180deg)); }
  75% { @include transform(translate(-300px, 0%) rotate(90deg) translate(-100px, 0%) rotate(-90deg)); }
  100% { @include transform(translate(-300px, 0%) rotate(180deg) translate(-100px, 0%) rotate(-180deg)); }
}