body {
    font-family: 'Proxima Nova','proxima-nova-1','proxima-nova-2', 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #E1F5FE;
}

section, header {
    display: block;
}

#container {
    position: relative;
    width: 320px;
    height: 450px;
    margin: 10px auto 0;
    text-align: center;
}

section {
    width: 320px;
    height: 390px;
    position: relative;
    z-index: 1;
}

.snow {
    font-size: 28px !important;
}

/* nav */

#nav {
    padding: 0;
    margin: 0 auto 10px;
    overflow: auto;
    width: 320px;
    position: relative;
    z-index: 100;
}

#nav li {
    list-style: none;
    display: inline-block;
}

#nav li a {
    display: block;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.green {
    background-color: #64dd17;
    border: 3px solid #00c853;
}
.yellow {
    background-color: #ffee58;
    border: 3px solid #ffff00;
}
.red {
    background-color: #ef5350;
    border: 3px solid #d50000;
}
.purple {
    background-color: #ce93d8;
    border: 3px solid #7b1fa2;
}
.white {
    background-color: #FFFFFF;
    border: 3px solid #EEEEEE;
}

.current.green,
.green:hover {
    background-color: #00c853;
}
.current.yellow,
.yellow:hover {
    background-color: #ffff00;
}
.current.red,
.red:hover {
    background-color: #d50000;
}
.current.purple,
.purple:hover {
    background-color: #7b1fa2;
}
.current.white,
.white:hover {
    background-color: #EEEEEE;
}


/* Section colors */

#green  { color: #64dd17; }
#yellow { color: #ffee58; }
#red    { color: #ef5350; }
#purple { color: #ce93d8; }
#white  { color: #FFFFFF; }

#green .tree-center,
#yellow {
    background-color: #64dd17;
}
#yellow .tree-center,
#red {
    background-color: #ffee58;
}
#red .tree-center,
#purple {
    background-color: #ef5350;
}
#purple .tree-center,
#white {
    background-color: #ce93d8;
}
#white .tree-center {
    background-color: #FFFFFF;
}

#white .tree-center {
    height: 290px;
}
/* step 2 */

.csstransforms #content {
    position: absolute;
    width: 320px;
    height: 390px;
}

.csstransforms section {
    position: absolute;
}

.csstransforms #yellow {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5) translateY(50%);
}

.csstransforms #red {
    -webkit-transform: scale(0.25);
    -moz-transform: scale(0.25);
    -o-transform: scale(0.25);
    transform: scale(0.25) translateY(150%);
}

.csstransforms #purple {
    -webkit-transform: scale(0.125);
    -moz-transform: scale(0.125);
    -o-transform: scale(0.125);
    transform: scale(0.125) translateY(350%);
}

.csstransforms #white {
    -webkit-transform: scale(0.0625);
    -moz-transform: scale(0.0625);
    -o-transform: scale(0.0625);
    transform: scale(0.0625) translateY(750%);
}

/* step 3 */

/* set arbitrary height on proxy scroller */
.csstransforms #scroller { height: 4000px; }

/* prevent content from scrolling */
.csstransforms #wrap {
    position: fixed;
    width: 100%;
}

/* step 4 */

.csstransitions #content.transitions-enabled {
    -webkit-transition: -webkit-transform 1s;
    -moz-transition:    -moz-transform 1s;
    -o-transition:      -o-transform 1s;
    transition:         transform 1s;
}

/* trees */

.ground {
    position: absolute;
    top: 460px;
    width: 100%;
    height: 500px;
    background: #FFF;
}

.tree-top {
    width: 0;
    height: 0;
    border-right: 120px solid transparent;
    border-left: 120px solid transparent;
    border-bottom: 100px solid;
    display: inline-block;
}

.tree-center {
    display: inline-block;
    width: 160px;
    height: 95px;
    position: absolute;
    left: 80px;
    top: 100px;
}

.tree-left {
    position: absolute;
}
.tree-left1 {
    top: 100px;
    left: 15px;
    border-left: 65px solid transparent;
    border-bottom: 65px solid;
}
.tree-left2 {
    top: 165px;
    left: 10px;
    border-left: 70px solid transparent;
    border-bottom: 70px solid;
}
.tree-left3 {
    top: 235px;
    left: 5px;
    border-left: 75px solid transparent;
    border-bottom: 75px solid;
}
.tree-left4 {
    top: 310px;
    left: 0;
    border-left: 80px solid transparent;
    border-bottom: 80px solid;
}

.tree-right {
    position: absolute;
    left: 240px;
}
.tree-right1 {
    top: 100px;
    border-right: 65px solid transparent;
    border-bottom: 65px solid;
}
.tree-right2 {
    top: 165px;
    border-right: 70px solid transparent;
    border-bottom: 70px solid;
}
.tree-right3 {
    top: 235px;
    border-right: 75px solid transparent;
    border-bottom: 75px solid;
}
.tree-right4 {
    top: 310px;
    border-right: 80px solid transparent;
    border-bottom: 80px solid;
}

/* Decoration */
.deco {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
}
.deco-top {
    top: -12px;
    left: 145px;
    width: 30px;
    height: 30px;
    background-color: #FFD700;
}
.deco1 {
    top: 118px;
    left: 175px;
}
.deco2 {
    top: 278px;
    left: 207px;
}
.deco3 {
    top: 273px;
    left: 113px;
}
.deco4 {
    top: 349px;
    left: 188px;
}
.deco5 {
    top: 334px;
    left: 92px;
}
.deco6 {
    top: 231px;
    left: 174px;
}
.deco7 {
    top: 205px;
    left: 83px;
}
.deco8 {
    top: 164px;
    left: 198px;
}
.deco9 {
    top: 129px;
    left: 102px;
}
.deco10 {
    top: 175px;
    left: 144px;
}
.deco11 {
    top: 60px;
    left: 129px;
}
.deco12 {
    top: 71px;
    left: 180px;
}

/* Snowman */
.snowman-head {

}