body {
    font-family: 'Proxima Nova','proxima-nova-1','proxima-nova-2', 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section, header {
    display: block;
}

#container {
    position: relative;
    width: 320px;
    margin: 10px auto;
    text-align: center;
}

section {
    width: 320px;
    height: 426px;
    margin-bottom: 80px;
    position: relative;
    z-index: 1;
}

h1, h2, p {
    margin: 0 0 15px;
}

section header {
    padding: 0 10px;
}

section h2 {
    font-size: 28px;
    line-height: 30px;
}

p {
    background: hsla( 0, 0%, 0%, 0.3 );
    height: 15px;
}

.w3, .w6 {
    position: absolute;
    margin: 0 10px;
    padding-top: 15px;
}

.w3 { width: 280px; }
.w3.box { width: 250px; }

.h3.box { height: 150px; }
.h3.box .img { line-height: 150px; }

.h6.box { height: 315px; }
.h6.box .img { line-height: 315px; }

.w6 { width: 580px; }
.w6.box { width: 550px; }

.x3 { left: 300px; }
.x6 { left: 600px; }

.y3 { top: 180px; }
.y6 { top: 360px; }

.box {
    padding-top: 0;
    border: 5px solid;
    padding: 10px;
}

.img {
    background: hsla( 0, 0%, 0%, 0.3 );
    color: white;
    text-align: center;
    height: 100%;
    font-size: 100px;
}

/* nav */

#nav {
    padding: 0;
    margin: 0 auto 10px;
    overflow: auto;
    width: 320px;
    position: relative;
    z-index: 100;
}

#nav li {
    list-style: none;
    display: inline-block;
    font-weight: bold;
}

#nav li a {
    text-decoration: none;
    display: block;
    background: #FFF;
    color: blue;
    padding: 8px 15px;
}

#nav li a:hover {
    background: #0091EA;
    color: white;
}



/* Section-specific layout */

#red h1 {
    font-size: 100px;
    font-weight: 600;
    line-height: 105px;
}

#lime header,
#green header,
#blue header { padding-top: 0;}

#lime h1 {
    line-height: 85px;
    font-size: 92px;
}

#green header,
#blue header { padding: 0;}

#green h1 {
    font-size: 150px;
    line-height: 180px;
}

#blue h1 {
    font-size: 110px;
    line-height: 105px;
}

#purple h1 {
    font-size: 160px;
    line-height: 180px;
}

/* Section colors */

#red { color: #ef9a9a; }
#red p, #red .img { background: hsla( 0, 90%, 45%, 0.3 ); }

#lime { color: #f0f4c3; }
#lime p, #lime .img { background: hsla( 72, 90%, 40%, 0.3 ); }

#green { color: #c8e6c9; }
#green p, #green .img { background: hsla( 144, 90%, 45%, 0.3 ); }

#blue { color: #bbdefb; }
#blue p, #blue .img { background: hsla( 216, 90%, 45%, 0.3 ); }

#purple { color: #e1bee7; }
#purple p, #purple .img { background: hsla( 288, 90%, 45%, 0.3 ); }

/* step 2 */

.csstransforms #content {
    position: absolute;
    width: 320px;
    height: 426px;
}

.csstransforms section {
    position: absolute;
}

.csstransforms #lime {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5) translateY(50%);
}

.csstransforms #green {
    -webkit-transform: scale(0.25);
    -moz-transform: scale(0.25);
    -o-transform: scale(0.25);
    transform: scale(0.25) translateY(150%);
}

.csstransforms #blue {
    -webkit-transform: scale(0.125);
    -moz-transform: scale(0.125);
    -o-transform: scale(0.125);
    transform: scale(0.125) translateY(350%);
}

.csstransforms #purple {
    -webkit-transform: scale(0.0625);
    -moz-transform: scale(0.0625);
    -o-transform: scale(0.0625);
    transform: scale(0.0625) translateY(750%);
}

/* step 3 */

/* set arbitrary height on proxy scroller */
.csstransforms #scroller { height: 4000px; }

/* prevent content from scrolling */
.csstransforms #wrap {
    position: fixed;
    width: 100%;
}

/* step 4 */

.csstransitions #content.transitions-enabled {
    -webkit-transition: -webkit-transform 1s;
    -moz-transition:    -moz-transform 1s;
    -o-transition:      -o-transform 1s;
    transition:         transform 1s;
}

#nav li a.current {
    background: blue;
    color: white;
}