
// font

$font-base--size  : 16px;

// colors


// color use

// layout

$container-max-width : 1140px;


// breakpoints

  $brkpoint-s    : 600px;
  $brkpoint-md   : 890px;
  $brkpoint-l   : 1035px;
  $brkpoint-xl    : $container-max-width;
